<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Student form</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
      crossorigin="anonymous"
    />
  </head>
  <body>
          <br>
      <% if(success_message.length > 0) {%>
        <div class="alert alert-success" role="alert">
      
          <%= success_message %>
        </div>
        <% } %>
        <% if(error_message.length > 0) {%>
          <div class="alert alert-danger" role="alert">
        
            <%= error_message %>
          </div>
          <% } %>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
         
            <th scope="col">Actions</th>

        </tr>
      </thead>
      <tbody>
             <tbody>
        <% students.map(function(student) { %>
          <tr>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
            <td><%= student.email %></td>
            <td><%= student.phoneNumber %></td>
            <td>
                <a href="/edit/<%= student._id %>" class="btn btn-primary">Edit</a>
                <a href="/delete/<%= student._id %>" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
               
            </td>
          </tr>
            
        <% }); %>

      </tbody>
      </tbody>
    </table>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
  </body>
</html>